html {
    height: 100%;
}

body {
    background: linear-gradient(#2c2449, #110E1B);
}

.vertical-line {
    width: 2px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.23);
    margin: 0 auto;  
    transform: rotate(180deg);
}

.Header-Section {
    color: white;
    background-color: black;  
    margin-left: 7px;
    margin-right: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.Intro-Container > h1 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: medium;
}

.Intro-Container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 15px;
    margin-top: 15px;
    gap: 5px;
}

.Intro-Container > #About {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Dev-id {
    color: rgba(255, 255, 255, 0.23)
}

.Navigation {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.Navigation > button {
    background: none;
    border: none;
    padding-bottom: 0px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    transition: 0.3s ease-in-out;
}

.Navigation > button:hover {
    background: #7a7a7a73;
    border-radius: 5px;
}